.galaxy-container {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 2;
}

.galaxy-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
